<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SidderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SidderApp.Properties.Settings>
            <setting name="userUVHDFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="userColumn1" serializeAs="String">
                <value>342</value>
            </setting>
            <setting name="userColumn2" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="userColumn3" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="userColumn4" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="sidderWidth" serializeAs="String">
                <value>973</value>
            </setting>
            <setting name="sidderHeight" serializeAs="String">
                <value>504</value>
            </setting>
            <setting name="userColumn5" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="userColumn6" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="resolveTypeSID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exportDividerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exportSizeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskProviderType" serializeAs="String">
                <value>0</value>
            </setting>
        </SidderApp.Properties.Settings>
    </userSettings>
</configuration>
